/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
  --color-lightgrey: #F5F5F5;
  --color-primary: #FF813C;
  --color-primary-hover: #FF6916;
  --color-primary-active: #ED5500;
  --color-secondary: #132E82;
  --color-black: #1C1C1C;
  --color-dark: #818181;
  --color-white: #FFF;
  --color-light-primary: #FFCEB2
}