/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $sm) {
    max-width: 540px;
  }

  @media (min-width: $md) {
    max-width: 720px;
  }

  @media (min-width: $lg) {
    max-width: 960px;
  }

  @media (min-width: $xl) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}
