@media (max-width: 1000px) {
  .team-post-popup{
    .mfp-content {
      .container {
        .team-item {
          .close-btn-wrapper{
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
            .mfp-close{
              width: 20px;
              height: 20px;
            }
            .icp-icon{
              svg{
                width: 20px;
                height: 20px;
              }
            }
          }
          .inner{
            padding: 60px 30px;
            &:after{
              width: 26.5%;
              height: 280px;
            }
            .part{
              &:first-child{
                width: 28.5%;
              }
              &:last-child{
                width: calc(100% - 34%);
                padding: 0 10px 0 0;
                .title{
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 25px;
                }
                .description{
                  font-size: 16px;
                  line-height: 22px;
                  margin: 0 0 30px;
                }
                .contacts{
                  .item{
                    font-size: 16px;
                    line-height: 22px;
                  }
                }
                .biography-wrapper{
                  .biography{
                    p{
                      margin: 10px 0;
                    };
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .team-post-popup{
    .mfp-content {
      .container {
        .team-item {
          .close-btn-wrapper{
            top: 15px;
            right: 15px;
            width: 15px;
            height: 15px;
            .icp-icon{
              svg{
                width: 15px;
                height: 15px;
              }
            }
            .mfp-close{
              width: 15px;
              height: 15px;
            }
          }
          .inner{
            padding: 45px 15px;
            flex-direction: column;
            &:after{
              width: 65%;
              height: 220px;
            }
            .part{
              &:first-child{
                width: 100%;
                margin-bottom: 25px;
              }
              &:last-child{
                width: 100%;
                padding: 0;
                .title{
                  font-size: 14px;
                  line-height: 19px;
                  margin-bottom: 10px;
                  &:after{
                    margin-top: 5px;
                  }
                }
                .description{
                  font-size: 12px;
                  line-height: 16px;
                  margin: 0 0 20px;
                }
                .contacts{
                  margin-bottom: 25px;
                  .item{
                    font-size: 12px;
                    line-height: 16px;
                    .icp-icon{
                      svg{
                        width: 16px;
                      }
                    }
                  }
                }
                .biography-wrapper{
                  .biography{
                    p{
                      font-size: 12px;
                      line-height: 16px;
                      margin: 10px 0;
                    };
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}